body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headding {
    text-align: center;
    padding: 10px;
    box-shadow: rgba(21, 137, 60, 0.2) 1px 2px;
}

.headding h1 {
    font-size: 32px;
    background: -webkit-linear-gradient(rgb(0, 203, 7), rgb(0, 150, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---------- for diffrent screen sizes---------------- */
@media (min-width:768px) {
    .headding h1 {
        font-size: 48px;
    }
}